<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{saveDemande}" method="post" th:object="${demande}">

<div th:action="@{saveDemande}" method="post" th:object="${voyage}" >

      

   </div> 
   <div th:action="@{saveDemande}" method="post" th:object="${voyageur}" >

      

   </div> 





<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>