<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container" style="margin-top:20px" >
<div class="panel panel-default">


<div class="panel-heading"><h1><b>Liste des voyageurs</b></h1></div>
<div class="panel-body">

<table class="table">
<thead>
<tr>
<th>cin</th><th>Nom</th><th>prenom</th><th>adresse</th><th>Email</th>
</tr>
</thead>
<tbody>
<tr th:each="s:${listusers}">

<td th:text="${s.cin}"></td>
<td th:text="${s.nom}"></td>
<td th:text="${s.prenom}"></td>
<td th:text="${s.adresse}"></td>
<td th:text="${s.email}"></td>




</tr>
</tbody>
</table>
</div>
</div>
</div>
</body>
</html>