<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>voyages</title>
</head>
<body>
<div>
<form th:action="voyages" method="get">
<div>
<label>username:</label>
<input type="text" name="username" />
<button type="submit">Reentrer votre username:</button>

</div>
</form>
</div>
<div class="container" style="margin-top:20px" >
<div class="panel panel-default">


<div class="panel-heading"><h1><b>Mes voyages</b></h1></div>

<div class="panel-body">
	
		<table class="table" colspan="2">
		<thead>
			<tr>
					<th>Le conducteur</th>
					<th>Le départ</th>
					<th>L'arrivée</th>
					
					<th>prix</th>
					
					<th>nombre des places depart</th>
					
					<th>date du depart</th>
					<th>date d'arrivée</th>
					<th>max bagage par voyageur</th>
					
					<th>fumeur</th>
					<th>radio</th>
					<th>Supprimer</th>
					<th>Edit</th>
			</tr>
		</thead>
		<tbody>
		<tr th:each="s:${listvoyages}">

		
		<td th:text="${s.conducteur}"></td>
		<td th:text="${s.dep}"></td>
		
		<td th:text="${s.arr}"></td>
		<td th:text="${s.prix}"></td>
		
		<td th:text="${s.nbrePlaceDep}"></td>
		
		<td th:text="${s.depart}"></td>
		<td th:text="${s.arrivee}"></td>
		
		<td th:text="${s.maxBagagePersonne}"></td>
		<td th:text="${s.fumeur}? #{bool.true} : #{bool.false}">yes</td>
		<td th:text="${s.radio}? #{bool.true} : #{bool.false}">yes</td>
		<td><a href="#" th:href="@{/conducteur/supprimerVoyage/} + ${s.id}">Delete</a></td>
		<td><a href="#" th:href="@{/conducteur/modifierVoyage/} + ${s.id}">Edit</a></td>





</tr>
</tbody>
</table>

</div>
</div>
</div>
</body>
</html>